
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #242526;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

.divide{
  display: flex;
  height: 80vh;
  background-color: white;

}
.pic{
  width: 35%;
  background-color: darksalmon;
  height: 80vh;
  color: white;
  text-align: center;
  font-size: 24px;
  
}
.dest{

  width: 65%;
  background-color:white;
  height: 80vh;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  margin-left: 30px;
  /*float: right;*/
}
.dest h1{
  margin-top: 130px;
  color: #38404f;
  margin-left: 30px;
}
.dest h1 span{
  color: #edbb00;
  font-size: 45px;
}
.dest p{
  font-size: 18px;
  margin-left: 40px;

}
a {
  text-decoration: none;
}
.box{
  width: 200px;
  background: red;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 20px;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);*/

}
.slide-img :hover{
  color: #edbb00;
  visibility: visible;

}
.slide-img{
  height: 100%;
}
.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}
.detail-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10 20px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.type{
  display: flex;
  flex-direction: column;
}
.type a{
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.slider{
  height: 300px;
  background-color: green;
  border: #000 solid 1px
}
.image_slides{
  margin: 20px 10px;
}
.image_slide{
  margin: 20px;
}

.slider img{
  width: 25%;
  height: 130px;
  box-sizing: border-box;
}
#utoWidth{
  display: flex;
}
.carousel-caption .h3 {
  font-size: 28px;
 font-weight: bold;
 color: white;
 text-transform: capitalize;
 opacity: 1;
 position: relative;
margin-top: 700px;
text-align: left;
position: relative;
left: -40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
.carousel-caption h4 {
  font-size: 16px;
 font-weight: bold;
 color: white;
 text-transform: capitalize;
 opacity: 1;
 position: relative;
margin-top: 10px;
text-align: left;
position: relative;
left: -40px;
 
}
.carousel-caption p {
  font-size: 16px;
 font-weight: bold;
 color: white;
 text-transform: capitalize;
 opacity: 1;
 position: relative;
margin-top: 10px;
text-align: left;
position: relative;
left: -40px;
color: #edbb00;
 
}
.carousel-caption h3 span{
  color: #edbb00;
  
}
.carousel-caption h2 span{
  color: #edbb00;
  margin-top: 20px;
}
.carousel-caption a{
  background-color: #edbb00;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 50px;
  text-decoration: none;
  width: 200px;

}
.carousel-item .active{
  background-color: #edbb00; 
  /*color: red;*/
}
.caro{
  align-items: center;
  display: flex;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;

}
.caro_images{
  display: flex;
  transform: translate(0);
  transition: transform 0.25s;
}
.caro img{
  border-radius: 5px;
}
.caro button{
  background: teal;
  border: 0;
  border-radius: 50%;
  color: red;
  cursor: pointer;
  font-size: 8rem;
  font-weight: bold;
  height: 3rem;
  opacity: 0.25;
  position: absolute;
  transition: opacity 0.25;
  width: 3rem;
  z-index: 1;
}
.caro.previous{
  left: 5px;
}
.caro .next{
  right: 5px;
}
.caro:hover{
  opacity: 0.5;
}
/*.container{
  display: grid;
  height: 80vh;
  background-color: cyan;
  grid-template-columns: auto auto;
}
.chd{
  width: 75%;
}
.chd3{

}*/





.sliders{
	width: 100%;
	border:10px solid  #29a8e2;
	margin:80px auto;
  /*display: flex;
  justify-content: center;
  align-items: center;   */
	position: relative;
	overflow: hidden;
}

.sliders .left-slide,.sliders .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.sliders .left-slide:hover,.sliders .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.sliders .left-slide{
	left: 30px;
}
.sliders .right-slide{
	right: 30px;
}
.sliders .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.sliders .slider-items .item{
	display: none;
	position: relative;
}
.sliders .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}

.sliders .slider-items .item.active{
	display: block;
}
/*.slider-items{
  width: 300px;
  height: 250px;
  border-radius: 10px;
}*/



/* new */

.testy{
 display: flex;
 margin-top: 0px;
 overflow: hidden;
 
}
.sli{
  overflow: hidden;
}
.carousel-innerr{
 
  overflow: hidden;
}
.container .row .col-md-4{
  margin: 10px;
  width: 150px;
  height: 180px;
  background-color: whitesmoke;
  border-color: white;
}
.card h4{
  font-size: 16px;
  padding-left: 10px;
}
.card p{
  font-size: 14px;
  color: #918f9b;
  text-align: left;
  position: relative;
  /*top: -30px;*/
  left: -30px; 
}
/*.logo{
  position: relative;
  top: -20px;
  right: -150px;
  padding: 5px;
}*/
/*.single-box{
  margin-right: 20px;
  
}
.carousel-iteming{
  height: 25rem;
  background-color: #777;
  color: white;
  position: relative;

}
.carousel-iteming .container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}*/




/* 2nd carousel*/


/* CSS Document */

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
   
}
.img-fluid{
  align-items: center;
  padding: 10px;
  height: 120px;
  width: 100%;
 
  
}


.card-header{color:dodgerblue}