{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/home.css' %} ">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/home.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all' %}">
  
    <title>about</title>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="brand">
                    SPORTSWEB
                <img src="{% static 'img/logo1.png' %}" alt="not available">
                </div>
            </div>
            <div class="right-side">
                <div class="nav-link-wrapper active-nav-link">

                    <a href="home-page.html">Home</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">About Us</a>
                </div>
                    <div class="nav-link-wrapper">
                         <a href="#">Mission</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">Registration</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">Training</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-img-wrapper">
                    <img src="{% static 'img/girl.jpg'" alt=" Not Found">

                </div>
                <div class="profile-content-warpper">
                    <h1>Hi, thanks fro visiting my website</h1>
                  <p> Maciej Duszynski, CPRW, is a career advice writer and a resume expert at Zety. He is a certified professional resume writer (CPRW) with over 8 years of experience in hiring, recruitment, and training. Maciej shares insider HR knowledge to make every job hunter professionally equipped for the job search. His insights have been featured by the Chicago Tribune, Toggl, SparkPeople, Referral Rock, and Databox, among others.</p>

                 <p>Maciej holds a degree in English and specializes in communication and education management. He has worked with job seekers at all stages of their career paths, from interns to directors to C-suite members.</p>

                  <p>His mission is to help you find the right opportunity and create a job application that gets you the career you deserve.</p>

                </div>
            </div>
            </div>
        </div>
    </div>
    
</body>

</html>
<!--<footer class="footer">
    <div class="container">
    <div class="about-us" data-aos="fade-right" data-aos-delay="200">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ducimus delectus explicabo tempore odio fugiat possimus saepe sint repudiandae iusto!</p>
    </div>
    <div class="newsletter" data-aos="fade-right" data-aos-delay="300">
        <h2>Newsletter</h2>
        <p>Stay updated with our latest</p>
        <div class="form-element">
            <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
    <div class="instagram" data-aos="fade-right" data-aos-delay="400">
        <h2>Instagram</h2>
        <div class="flex-row">
            <img src="{% static 'img/flower1.jpg' %}" alt="">
            <img src="{% static 'img/flowers2.jpg' %}" alt="">
            <img src="{% static 'img/coding1.jpg' %}" alt="">
            <img src="{% static 'img/love.jpg' %}" alt="">
        </div>-->
       <!-- <div class="flex-row">
            <img src="{% static 'img/city.jpg' %}" alt="">
            <img src="{% static 'img/prog.jpg' %}" alt="">
            <img src="{% static 'img/teaching.jpg' %}" alt="">
            <img src="{% static 'img/girl.jpg' %}" alt="">
        </div>-->
   <!--- </div>
    <div class="follow" data-aos="fade-right" data-aos-delay="500">
        <h2>Follow Us</h2>
        <p>Let us be social</p>
        <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
   
</div>
<div class="rights flex-row">
    <h3 class="text-gray">
        Copyright @2020 All right reserved | made by
        <a href="www.nuelonline.com" target="black">NuelTech</a>
    </h3>
</div>
<div class="move-up">
    <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
</div>
</footer>-->


<!--Jquery library file-->
<!--<script src="{% static 'jss/jquery3.5.1.min.js' %}"></script>-->

<!--Owl Carousel js-->
<!--<script src="{% static 'jss/owl.carousel.min.js' %}"></script>-->
 <!--AOS js Animation-->
 <!--<script src="{% static 'jss/aos.js' %}"></script>-->
<!--Javascript file-->
    <!--<script src="{% static 'jss/main.js' %}">

    </script>
</body>
</html>-->