<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
<!--awesome font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" />
    
<!--bootstrap nav-->
<link rel="stylesheet" href="bootsnav.css">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

<!--jquery-->

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

<!-- Latest compiled and minified JavaScript -->



<style>
    body{
        background-image: url(..//img);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    nav .navbar .bootsnav{
        border: none;
        background: none;
        margin-bottom: 150px;
        margin-top: 40px;
        margin-left: 20px;
        border-color: none;
    }
    nav ,navbar .bootsnav ul .nav .nav{
        margin-right: 20px;

    }
    nav .navbar .bootsnav ul .nav > li > a{
        padding: 10px 15px;
        border-radius: 0;
        font-size: 15px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        transition: all 0.5s ease 0s;
    }
</style>
</head>
<body>
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-mobile bootsnav on">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collaose" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="" data-hover="Home">Home<span></span></a>
                        </li>
                        <li>
                            <a href="" data-hover="About">About <span></span></a>
                           </li>
                            <li class="dropdown">
                                <a href="" data-hover="About" class="dropdown-toggle">shortcodes <span></span></a>

                                <ul class="dropdown-menu animated">
                                    <li><a href="">Customer</a></li>
                                    <li><a href="">Customer</a></li>

                                 <li class="dropdwon">
                                     <a href="" class="dropdown-toggle data-toggledropdown">Sub Menu</a>

                                     <ul class="dropdown-menu animated">
                                         <li>
                                             <a href="">customer menu</a>
                                         </li>
                                         <li>
                                            <a href="">customer menu</a>
                                        </li>


                                        <li class="dropdwon">
                                            <a href="" class="dropdown-toggle data-toggledropdown">Sub Menu</a>
       
                                            <ul class="dropdown-menu animated">
                                                <li>
                                                    <a href="">customer menu</a>
                                                </li>
                                                <li>
                                                   <a href="">customer menu</a>
                                               </li>

                                               <li class="dropdown">
                                                   <a href="" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                                   <ul class="dropdown-menu animated"></ul>
                                                   <li><a href="">customer menu</a></li>
                                                   <li><a href=""></a>customer menu</li>


                                               </li>
                                               <li class="dropdown">
                                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                                <ul class="dropdown-menu animated"></ul>
                                                <li><a href="">customer menu</a></li>
                                                <li><a href=""></a>customer menu</li>

                                                
                                            </li>
                                     </ul>
                                 </li>
                                </ul>
                               </li>

                               
                           
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>










    <script src="http://code.jquery.com/jquery-3.5.1.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <script src="bootsnav.js"></script>
</body>
</html>