{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic'>

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
  <link rel="stylesheet" href="{% static 'personal/personal.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="bgimage">
        <div class="menu">
            <div class="leftmenu">
                <H4>Nuel Sport</H4>
            </div>
            <div class="rightmenu">
                <ul>
                    <li id="firstlist">Home</li>
                    <li>Service</li>
                    <li>Works</li>
                    <li>About Us</li>
                    <li>Blogs</li>
                    <li>contact</li>
                </ul>
            </div>
        </div>
        <div class="text">
            <h4>design . development . branding</h4>
            <h1>creative & experienced </h1>
            <h3>we are the one of the worlsd's top creative design angencies</h3>
            <button id="buttonone">like share</button>
            <button id="buttontwo">subscribe</button>
        </div>
    </div>
</body>
</html>